<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
    <connectionStrings>
      <remove name="LocalSqlServer"/>
      <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiwoa.edu; Initial Catalog=msci3300_g3; Persist Security Info=True; User ID=msci3300_g3; Password=Password1!"/>
      <add name="cs_GroceryStores" connectionString="Data Source=apollo.biz.uiwoa.edu; Initial Catalog=msci3300_g3; Persist Security Info=True; User ID=msci3300_g3; Password=Password1!"
           providerName="System.Data.SqlClient"/>
        <add name="msci3300_g3ConnectionString" connectionString="Data Source=apollo;Initial Catalog=msci3300_g3;Persist Security Info=True;User ID=msci3300_g3;Password=Password1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  
    <system.web>
      <roleManager enabled="true"/>
      <authentication mode="Forms">
        <forms loginUrl="login/login.aspx" />
      </authentication>
      
      
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
